.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
}

.popup-inner.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}


/*Form CSS*/

.form-group {
    display: table-row;
    flex-direction: column;
  }
  
 .form-group  label {
    display: table-cell;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 10px;
    
  }
  
  .form-group  input{
    display: table-cell;
    height: 3rem;
    width: 20rem;
    border:0.5px solid rgba(204, 204, 204, 0.562);
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
  }




  /*Button Group*/
  .btn-group{
    display: flex;
    justify-content: space-between;
  }
  .update-btn{
    transition-duration: 0.4s;
    background-color: rgb(0, 212, 212);
    border: 0.5px solid rgba(102, 102, 102, 0.514);
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    color:white
  }
  .update-btn:hover{
    background-color: rgb(250, 250, 250);
    border: 1px solid rgba(0, 212, 212, 0.514);
    color: black;
  }
  .delete-btn{
    transition-duration: 0.4s;
    background-color: rgb(212, 0, 0);
    border: 0.5px solid rgba(102, 102, 102, 0.514);
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    color:white;
  }
  .delete-btn:hover{
    background-color: rgb(250, 250, 250);
    border: 1px solid rgba(255, 0, 0, 0.514);
    color: black;
  }
  .close-btn{
    transition-duration: 0.4s;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgba(102, 102, 102, 0.151);
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    color:black;
    font-size: 15px;
    margin-left: 90%;
    align-content: left;
    
  }
  .close-btn:hover{
    background-color: rgb(250, 250, 250);
    border: 1px solid rgba(0, 212, 212, 0.514);
    color: black;
  }


  /*PatientMaker PopUp*/

  /*Label and input field style.*/
  .tooltip-wrapper label{
    display: table-row-group;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 10px;
  }

  .tooltip-wrapper  input{
    display: table-row-group;
    height: 3rem;
    width: 15rem;
    border:0.5px solid rgba(204, 204, 204, 0.562);
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
  }
  
 /*Button Style, inside the modal*/
  .add-pop {
    display: inline-block;
    border-radius: 4px;
    background-color: #06a4ffa6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .add-pop span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .add-pop span:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .add-pop:hover span {
    padding-right: 25px;
  }
  
  .add-pop:hover span:after {
    opacity: 1;
    right: 0;
  }

    
