.tooltip-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    width: 100px;
    padding: 5px;
    background-color: #0494a76b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    opacity: 0;
    transition: ease-in 0.5s;
  }
  